big_data_lecture.code-workspace
docker/docker-compose.yml
venv/
data/nasa_http_log_1995.csv
mapreduce/wordcount/WordCount/compile_and_deploy_nasa_page_count.md
docker/ozone/ozone_commands.md
mapreduce/wordcount/WordCount/output.txt
mapreduce/wordcount/WordCount/.vscode/settings.json
spark/exercises/.ipynb_checkpoints
spark/exercises/images/
spark/helpers/__pycache__/
output.txt
spark/exercises/WordCountK8s.py
ozoneclient/OzoneS3.py
data/HRDataset_v14.csv
data/paper_helicopter_data.csv
spark/solutions/
spark/solutions/abalone_svm.ipynb
spark/solutions/bank_sql_solution.ipynb
spark/solutions/paper_helicopter_preparation.ipynb
requirements_backup.txt
docker/readandwritedata/docker-compose.yaml
spark/.ipynb_checkpoints
